/*global styles*/
#container {
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*landmark styling*/
header { 
    display: grid;
    grid-template-columns: minmax(4em, 14em) auto;
    border-bottom: 1px solid #939393;
    align-items: center;
}

main { 
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr auto 1fr;
}

footer { 
    border-top: 1px solid #939393;
    padding-top: 1em;
} 

/*nav bar link style*/
#nav-list {
    list-style-type: none;
}

#nav-list>li{
    display: inline;
    padding-left: 1em;
}

hgroup {
    text-align: center;
}

/*for readability maxing out at 80 characters per line*/
p {
    max-width: 80ch;
}
